.home {
	width: 90%;
	margin: 80px auto 0;
	padding: 100px 100px 130px 130px;
	// padding-bottom: 130px;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	&::before {
		z-index: -1;
		content: '';
		position: absolute;
		background-image: url('../img/wavy.png');
		background-position: bottom;
		background-size: cover;
		// -webkit-filter: grayscale(1) invert(0.2);
		// filter: grayscale(1) invert(0.3);
		opacity: 0.6;
		top: 0px;
		right: 0px;
		bottom: -150px;
		left: 0px;
	}

	.text {
		h1 {
			font-size: 110px;
			font-weight: 400;
		}

		p {
			width: 70%;
			padding: 10px;
			text-align: justify;
			border-left: 1px solid #f9f9f9;
		}
	}

	.links {
		margin-top: 50px;
		a {
			display: inline-block;
			text-decoration: none;
			color: #1d1d20;
			font-size: 1rem;
			font-weight: 600;
			padding: 10px 100px;
			background-color: #facf0f;
			border: none;
			margin-right: 20px;
			transition: 0.2s;

			&:hover {
				transform: translateY(-0.25em);
			}
		}
	}
}
