.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;

	a {
		text-decoration: none;
		color: #f9f9f9;
		transition: 0.2s;

		&:hover {
			color: #facf0f;
		}

		.logo {
			display: flex;
			align-items: center;
			.img-container {
				width: 30px;

				img {
					width: 100%;
				}
			}
			h3 {
				font-size: 16px;
				text-transform: uppercase;
				padding: 22px 10px;
			}
		}
	}

	.menu-desktop {
		display: block;
		a {
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			color: #f9f9f9;
			padding: 22px 20px;
			transition: 0.2s;

			&:hover {
				color: #facf0f;
				// opacity: 0.7;
			}
		}
	}
}
